.modal-form {
  display: none;
}
.article-form{
  display: flex;
  flex-direction: column;
  max-width: 400px;
  margin: 0 auto 10px;
  padding: 0 10px;
}
.article {
  max-width: 400px;
  margin: 0 auto;
  border: 1px solid #b9b9b9;
  margin-bottom: 20px;
  border-radius: 10px;
  padding: 10px 0;
  input,
  textarea{
    display: none;
  }
  .articleTitle{
    border-bottom: 1px solid #b9b9b9;
    text-align: center;
    margin: 0;
  }
  .articleText{
    border-bottom: 1px solid #b9b9b9;
    padding: 5px;
    margin-bottom: 10px;
  }
  .userText{
    border-bottom: 0;
  }
}

.title-article,
.text-article {
  max-width: 400px;
  resize: none;
  margin-bottom: 10px;
}

.addArticleBtn,
.saveArticle,
.cancel {
  margin-bottom: 10px;
  &:hover{
    border-color: #39f;
    color: #39f;
  }
}

.deleteArticle,
.editArticle {
  &:last-child{
    margin-bottom: 0;
  }
}

.header-holder {
  display: flex;
  justify-content: flex-end;
  .btn{
    margin: 0 20px 0 0;
  }
  :last-child{
    margin-right: 0;
  }
}
