html,
body{
  height: 100%;
}

input[type='password'] {
  border: none;
}

#wrapper {
  min-height: 100%;
}
.container {
  max-width: 1200px;
  padding: 0 20px;
  margin: 0 auto; 
}

a{
  &:hover{
    @include animate(background color border)
    cursor: pointer
  }
}

header{
  position: fixed;
  width: 100%;
}
main{
  padding-top: 21px;
}

.error-holder{
  opacity: 0;
  position: absolute;
  left: 0;
}

