html,
body{
  height: 100%;
}

#wrapper {
  min-height: 100%;
}
.container {
  max-width: 1200px;
  padding: 0 20px;
  margin: 0 auto; 
}

a{
  &:hover{
    @include animate(background color border)
    cursor: pointer
  }
}